<div class="background d-flex justify-content-center align-items-center">
  <div class="form-bg text-center">
    <form action="/artist-search" method="GET">
      <input name="artistSearch" class="d-block input form-control">
      <button class="btn btn-danger mt-2" type="submit">Search for an artist</button>
    </form>
  </div>

</div>