<div class="container mt-3">
  <div class="row">

    {{#each artists}}

    <div class="col-xs-12 col-sm-6 col-md-4">

      <figure class="text-center">
        <img class="img-fluid thumbnails" alt="{{this.name}} Spotify Artist Cover" src="{{this.images.1.url}}" />
        <figcaption>{{this.name}}</figcaption>
        <a class="btn btn-danger" href="/albums/{{this.id}}">View Albums</a>
      </figure>

    </div>

    {{/each}}

  </div>
</div>